src/flows_raspberrypi (2).json
[{"id":"6c3fc330.f06efc","type":"tab","label":"DHT11","disabled":false,"info":""},{"id":"d09f2f58.b41b4","type":"tab","label":"DHT11 outdoor","disabled":false,"info":""},{"id":"b76e4917.b4fd78","type":"tab","label":"RFID","disabled":false,"info":""},{"id":"96013ece.3e5fb","type":"tab","label":"Fan control","disabled":false,"info":""},{"id":"ba7f9cbc.31905","type":"tab","label":"IPCAM","disabled":false,"info":""},{"id":"50e7a1bb.87ec8","type":"tab","label":"LED/Switch","disabled":false,"info":""},{"id":"2b88146b.d2a8dc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1044503b.9ac21","type":"tab","label":"Example","disabled":true,"info":""},{"id":"86cf83a1.64598","type":"tab","label":"Locks","disabled":false,"info":""},{"id":"a1cb0741.600248","type":"subflow","name":"Detect online","info":"","category":"","in":[{"x":260,"y":100,"wires":[{"id":"ae7d5ad.5dd8ba8"},{"id":"d910ad8f.18f82"},{"id":"b72b8f63.7eb98"}]}],"out":[{"x":1440,"y":140,"wires":[{"id":"d665fa18.d72608","port":0},{"id":"5f88b208.77dbcc","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a4d6994b.fadbc8","type":"subflow","name":"POST/PUT","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"f44243f4.1c45f","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"status","willQos":"0","willPayload":"offline"},{"id":"70094bf9.ec9924","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2cd17b52.079144","type":"ui_group","z":"","name":"Temp & Hum indoor","tab":"70094bf9.ec9924","order":1,"disp":true,"width":"6","collapse":false},{"id":"489ba229.3ede1c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fcbdc131.f1973","type":"ui_group","z":"","name":"Switch","tab":"70094bf9.ec9924","order":2,"disp":true,"width":"6","collapse":false},{"id":"daa01add.31a7b8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bff9b734.090608","type":"ui_group","z":"","name":"Main","tab":"19abeefa.cb3731","order":1,"disp":true,"width":"6","collapse":false},{"id":"19abeefa.cb3731","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard"},{"id":"aaa4801a.42717","type":"ui_group","z":"","name":"Temp & Hum Outdoor","tab":"70094bf9.ec9924","order":3,"disp":true,"width":"6","collapse":false},{"id":"73dcf69.5eb2708","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"70ebfdbb.74dc04","type":"ui_group","z":"","name":"Status","tab":"98d5e3de.6f001","order":1,"disp":true,"width":"6"},{"id":"98d5e3de.6f001","type":"ui_tab","z":"","name":"Status","icon":"dashboard"},{"id":"39adcfa3.ed9e2","type":"ui_group","z":"","name":"MJPEG Encoder","tab":"50fff9e3.be0a58","order":1,"disp":true,"width":"6","collapse":false},{"id":"50fff9e3.be0a58","type":"ui_tab","z":"ba7f9cbc.31905","name":"Cameras","icon":"camera_alt","order":2},{"id":"426e6257.3652ec","type":"ui_group","z":"","name":"Camera","tab":"70094bf9.ec9924","order":4,"disp":true,"width":"6","collapse":false},{"id":"6ce269f7.6233d8","type":"ui_group","z":"","name":"Netzwerkgeräte","tab":"ffcd84e2.73f928","order":1,"disp":true,"width":10,"collapse":true},{"id":"ffcd84e2.73f928","type":"ui_tab","z":"","name":"Geräte","icon":"fa-television","order":2,"disabled":false,"hidden":false},{"id":"16c3dfbb.fe1bd","type":"ui_group","z":"","name":"Fan","tab":"70094bf9.ec9924","order":5,"disp":true,"width":"6","collapse":false},{"id":"e229380e.b36a18","type":"ui_group","z":"","name":"Lock","tab":"70094bf9.ec9924","order":6,"disp":true,"width":"6","collapse":false},{"id":"264a406a.915ac","type":"mosca in","z":"6c3fc330.f06efc","mqtt_port":"1883","mqtt_ws_port":8080,"name":"","username":"labor","password":"labor","dburl":"","x":130,"y":100,"wires":[["3abcac0f.9c69b4"]]},{"id":"edd72313.f88f4","type":"mqtt in","z":"6c3fc330.f06efc","name":"indoor temp","topic":"sensor/temperature","qos":"1","datatype":"auto","broker":"f44243f4.1c45f","x":110,"y":160,"wires":[["c8357551.b9af18"]]},{"id":"b087cf9b.01de1","type":"mqtt in","z":"6c3fc330.f06efc","name":"indor hum","topic":"sensor/humidity","qos":"1","datatype":"auto","broker":"f44243f4.1c45f","x":100,"y":600,"wires":[["2ddcd08e.28349"]]},{"id":"c80f03d1.3a6a2","type":"debug","z":"6c3fc330.f06efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Humidity","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":660,"wires":[]},{"id":"d3561157.ea6cc","type":"ui_text","z":"6c3fc330.f06efc","group":"2cd17b52.079144","order":0,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload}} °C","layout":"col-center","x":1150,"y":100,"wires":[]},{"id":"a30ec771.0ca208","type":"ui_text","z":"6c3fc330.f06efc","group":"2cd17b52.079144","order":1,"width":0,"height":0,"name":"","label":"Hum","format":"{{msg.payload}} %","layout":"col-center","x":1150,"y":540,"wires":[]},{"id":"e0450720.5b8cf8","type":"ui_switch","z":"50e7a1bb.87ec8","name":"","label":"switch","tooltip":"","group":"fcbdc131.f1973","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":450,"y":80,"wires":[["cfa1831a.05242"]]},{"id":"cfa1831a.05242","type":"mqtt out","z":"50e7a1bb.87ec8","name":"","topic":"switch/led","qos":"2","retain":"","broker":"f44243f4.1c45f","x":760,"y":80,"wires":[]},{"id":"11d660.ea7969a","type":"mqtt out","z":"1044503b.9ac21","name":"","topic":"esp32/output","qos":"","retain":"","broker":"daa01add.31a7b8","x":370,"y":360,"wires":[]},{"id":"98b308ae.6dc158","type":"mqtt in","z":"1044503b.9ac21","name":"","topic":"esp32/temperature","qos":"2","broker":"daa01add.31a7b8","x":244,"y":267,"wires":[["332b41c1.aeef9e","d2f3a266.8baf9"]]},{"id":"4be92da7.4b9514","type":"ui_switch","z":"1044503b.9ac21","name":"","label":"Output","tooltip":"","group":"bff9b734.090608","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":229,"y":360,"wires":[["11d660.ea7969a"]]},{"id":"332b41c1.aeef9e","type":"debug","z":"1044503b.9ac21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":441,"y":234,"wires":[]},{"id":"38290882.9e8808","type":"mqtt in","z":"1044503b.9ac21","name":"","topic":"esp32/humidity","qos":"2","broker":"daa01add.31a7b8","x":233,"y":151,"wires":[["d9f58ba6.159948","ecdbd3cf.cf23a"]]},{"id":"d9f58ba6.159948","type":"debug","z":"1044503b.9ac21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":118,"wires":[]},{"id":"d2f3a266.8baf9","type":"ui_chart","z":"1044503b.9ac21","name":"","group":"bff9b734.090608","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":441,"y":294,"wires":[[],[]]},{"id":"ecdbd3cf.cf23a","type":"ui_gauge","z":"1044503b.9ac21","name":"","group":"bff9b734.090608","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b3d9","#0073e6","#001bd7"],"seg1":"33","seg2":"66","x":420,"y":178,"wires":[]},{"id":"41e114c4.1fd1fc","type":"delay","z":"a1cb0741.600248","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":160,"wires":[["d0d48499.ee0cf8"]]},{"id":"5f88b208.77dbcc","type":"inject","z":"a1cb0741.600248","name":"Startup","props":[{"p":"payload","v":"false","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"topic":"","payload":"false","payloadType":"bool","x":930,"y":260,"wires":[["d0d48499.ee0cf8"]]},{"id":"d910ad8f.18f82","type":"change","z":"a1cb0741.600248","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":160,"wires":[["41e114c4.1fd1fc"]]},{"id":"584d43be.51f14c","type":"delay","z":"a1cb0741.600248","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":200,"wires":[["41e114c4.1fd1fc"]]},{"id":"ae7d5ad.5dd8ba8","type":"change","z":"a1cb0741.600248","name":"Online","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":110,"wires":[["3bf49d16.bdf7d2"]]},{"id":"d0d48499.ee0cf8","type":"change","z":"a1cb0741.600248","name":"Offline","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":160,"wires":[["3bf49d16.bdf7d2"]]},{"id":"d665fa18.d72608","type":"rbe","z":"a1cb0741.600248","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1300,"y":140,"wires":[[]]},{"id":"b72b8f63.7eb98","type":"change","z":"a1cb0741.600248","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"timeout","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["584d43be.51f14c"]]},{"id":"623bccf.d5ceb34","type":"comment","z":"a1cb0741.600248","name":"Each incoming message will retrigger a new timeout (msg.timeout [ms]) before being reported offline","info":"","x":590,"y":40,"wires":[]},{"id":"3bf49d16.bdf7d2","type":"change","z":"a1cb0741.600248","name":"Offline","rules":[{"t":"set","p":"topic","pt":"msg","to":"isonline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":140,"wires":[["d665fa18.d72608"]]},{"id":"3abcac0f.9c69b4","type":"debug","z":"6c3fc330.f06efc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":100,"wires":[]},{"id":"e42c53ce.6eaff","type":"debug","z":"1044503b.9ac21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":480,"wires":[]},{"id":"7c45ac21.df8774","type":"inject","z":"1044503b.9ac21","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":480,"wires":[["790c7fc3.528b8","e42c53ce.6eaff"]]},{"id":"790c7fc3.528b8","type":"trigger","z":"1044503b.9ac21","name":"Watchdog","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":470,"y":520,"wires":[["3bc8227d.c81e1e"]]},{"id":"3bc8227d.c81e1e","type":"debug","z":"1044503b.9ac21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":520,"wires":[]},{"id":"9ad71411.3c6bd8","type":"mqtt in","z":"b76e4917.b4fd78","name":"","topic":"sensor/rfid","qos":"2","datatype":"auto","broker":"f44243f4.1c45f","x":80,"y":100,"wires":[["f5af08c0.8b8518"]]},{"id":"d91d158b.ed2d28","type":"mqtt out","z":"b76e4917.b4fd78","name":"","topic":"rfid/led","qos":"","retain":"","broker":"f44243f4.1c45f","x":1030,"y":100,"wires":[]},{"id":"4ce1ec28.5f17d4","type":"function","z":"b76e4917.b4fd78","name":"","func":"if (msg.payload.logged == true){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":100,"wires":[["d91d158b.ed2d28"]]},{"id":"345dc744.0e8a38","type":"ui_template","z":"ba7f9cbc.31905","group":"426e6257.3652ec","name":"Display image","order":1,"width":"6","height":"6","format":"<img alt=\"stream test\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":320,"wires":[[]]},{"id":"1bb5aac6.f7c635","type":"inject","z":"ba7f9cbc.31905","name":"Start Stream","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":130,"y":180,"wires":[["b1a5db3c.e99cb8"]]},{"id":"b1a5db3c.e99cb8","type":"change","z":"ba7f9cbc.31905","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://89.135.122.113:83/img/video.mjpeg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":346,"y":257,"wires":[["21f867d4.14ce98"]]},{"id":"f5ba34bf.5e6688","type":"inject","z":"ba7f9cbc.31905","name":"Pause stream","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":150,"y":320,"wires":[["bbdfcfe7.557df"]]},{"id":"6af1165e.72c6b8","type":"inject","z":"ba7f9cbc.31905","name":"Resume stream","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":100,"y":440,"wires":[["d8d37a83.7c8198"]]},{"id":"22a6537c.b7d5ec","type":"inject","z":"ba7f9cbc.31905","name":"Stop stream","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":150,"y":580,"wires":[["10b01ae8.688c45"]]},{"id":"bbdfcfe7.557df","type":"change","z":"ba7f9cbc.31905","name":"","rules":[{"t":"set","p":"pause","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":356.00001525878906,"y":296,"wires":[["21f867d4.14ce98"]]},{"id":"d8d37a83.7c8198","type":"change","z":"ba7f9cbc.31905","name":"","rules":[{"t":"set","p":"resume","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":356.00001525878906,"y":336,"wires":[["21f867d4.14ce98"]]},{"id":"10b01ae8.688c45","type":"change","z":"ba7f9cbc.31905","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":346.00001525878906,"y":376,"wires":[["21f867d4.14ce98"]]},{"id":"bcb8658b.84dfb8","type":"base64","z":"ba7f9cbc.31905","name":"Encode","action":"","property":"payload","x":800,"y":320,"wires":[["345dc744.0e8a38"]]},{"id":"f5af08c0.8b8518","type":"change","z":"b76e4917.b4fd78","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"worker_rfid","fromt":"str","to":"\"worker_rfid\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"device_id","fromt":"str","to":"\"device_id\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":100,"wires":[["12f9074f.ebd939"]]},{"id":"12f9074f.ebd939","type":"json","z":"b76e4917.b4fd78","name":"","property":"payload","action":"","pretty":false,"x":430,"y":100,"wires":[["7262c587.a71e5c"]]},{"id":"21f867d4.14ce98","type":"multipart-decoder","z":"ba7f9cbc.31905","name":"MJPEG Encoder","ret":"bin","url":"","tls":"","delay":"5","maximum":"10000000","blockSize":"1","x":600,"y":320,"wires":[["bcb8658b.84dfb8"]]},{"id":"c7e6de66.0ed0d","type":"inject","z":"1044503b.9ac21","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":700,"wires":[["b190cd13.c5869"]]},{"id":"b190cd13.c5869","type":"exec","z":"1044503b.9ac21","command":"sudo nmap -sn 192.168.0.1/24 | awk '/Nmap scan report for/{printf $5;}/MAC Address:/{print \"|\"substr($0, index($0,$3)) }' | sort","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scan subnet","x":290,"y":700,"wires":[["98e739dd.893c38"],[],[]]},{"id":"98e739dd.893c38","type":"function","z":"1044503b.9ac21","name":"Subnet Devices Array","func":"let response = msg.payload.split('\\n');\nlet found = []\nlet device\nresponse.forEach ( line => {\n    if ( line.indexOf('|') > -1 ){\n        device = {\n            IP : line.split('|')[0],\n            MAC: line.split('|')[1].split(' ')[0],\n        }\n        found.push ( device )\n    }\n})\nmsg.payload = found;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":700,"wires":[["deba655d.439fe8"]]},{"id":"e8cc4983.8e8758","type":"debug","z":"1044503b.9ac21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":700,"wires":[]},{"id":"deba655d.439fe8","type":"ui_template","z":"1044503b.9ac21","group":"6ce269f7.6233d8","name":"Im Netzwerk vorhandene Geräte","order":1,"width":10,"height":12,"format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>IP</th> \n <th>MAC</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":800,"y":700,"wires":[["e8cc4983.8e8758"]]},{"id":"938842f7.608b8","type":"mqtt out","z":"96013ece.3e5fb","name":"","topic":"fan/switch","qos":"","retain":"","broker":"f44243f4.1c45f","x":540,"y":100,"wires":[]},{"id":"becb4285.0f5e4","type":"ui_switch","z":"96013ece.3e5fb","name":"","label":"Fan","tooltip":"","group":"16c3dfbb.fe1bd","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":350,"y":100,"wires":[["938842f7.608b8"]]},{"id":"423c0e0e.f3911","type":"ui_slider","z":"96013ece.3e5fb","name":"","label":"slider","tooltip":"","group":"16c3dfbb.fe1bd","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"5","step":1,"x":910,"y":360,"wires":[["1a0da101.3d28df","514dcced.b3c224"]]},{"id":"514dcced.b3c224","type":"mqtt out","z":"96013ece.3e5fb","name":"","topic":"fan/slider","qos":"","retain":"","broker":"f44243f4.1c45f","x":1240,"y":480,"wires":[]},{"id":"9cbb16aa.1464a8","type":"mqtt in","z":"96013ece.3e5fb","name":"status","topic":"status/fan01","qos":"0","datatype":"auto","broker":"f44243f4.1c45f","x":110,"y":260,"wires":[["a07abb14.b32c58","e41b45b1.d1d138","f1da228e.4abca"]]},{"id":"a07abb14.b32c58","type":"debug","z":"96013ece.3e5fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":160,"wires":[]},{"id":"e41b45b1.d1d138","type":"trigger","z":"96013ece.3e5fb","name":"","op1":"","op2":"offline","op1type":"nul","op2type":"str","duration":"35","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":390,"y":360,"wires":[["fb423463.ae1a48","984f9608.f54038"]],"outputLabels":["offline",""]},{"id":"fb423463.ae1a48","type":"debug","z":"96013ece.3e5fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":420,"wires":[]},{"id":"984f9608.f54038","type":"change","z":"96013ece.3e5fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[["423c0e0e.f3911"]]},{"id":"a793d9d0.bc93d8","type":"http in","z":"1044503b.9ac21","name":"","url":"/hello-headers","method":"get","upload":false,"swaggerDoc":"","x":270,"y":820,"wires":[["70e10a90.2ad9a4"]]},{"id":"70e10a90.2ad9a4","type":"template","z":"1044503b.9ac21","name":"page","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"<html>\n    <head></head>\n    <body>\n        <h1>User agent: {{req.headers.user-agent}}</h1>\n    </body>\n</html>","output":"json","x":450,"y":820,"wires":[["1386e98a.d51bf6"]]},{"id":"1386e98a.d51bf6","type":"http response","z":"1044503b.9ac21","name":"","statusCode":"","headers":{},"x":590,"y":820,"wires":[]},{"id":"f1d55519.fa31f8","type":"http request","z":"1044503b.9ac21","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://query.yahooapis.com/v1/public/yql?q={{{query}}}&format=json","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":940,"wires":[["30fc0f79.0e574"]]},{"id":"30fc0f79.0e574","type":"debug","z":"1044503b.9ac21","name":"","active":true,"console":"false","complete":"payload","x":750,"y":940,"wires":[]},{"id":"67346f4c.d376f","type":"inject","z":"1044503b.9ac21","name":"query parameter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"select astronomy.sunset from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"maui, hi\")","payloadType":"str","x":240,"y":940,"wires":[["77b6c841.855048"]]},{"id":"77b6c841.855048","type":"change","z":"1044503b.9ac21","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":940,"wires":[["f1d55519.fa31f8"]]},{"id":"7262c587.a71e5c","type":"function","z":"b76e4917.b4fd78","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"6e3f9b-fd0dd7-3328a3-e51762-93a0d6-81951\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":100,"wires":[["837858b6.b225e8"]]},{"id":"df3f47d.9dd81b8","type":"mqtt in","z":"6c3fc330.f06efc","name":"status/01","topic":"status/device01","qos":"2","datatype":"auto","broker":"f44243f4.1c45f","x":100,"y":340,"wires":[["98b8bb73.f76468","86ac7423.e822b8","8bca888e.751508"]]},{"id":"98b8bb73.f76468","type":"debug","z":"6c3fc330.f06efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":280,"wires":[]},{"id":"86ac7423.e822b8","type":"trigger","z":"6c3fc330.f06efc","name":"","op1":"","op2":"offline","op1type":"nul","op2type":"str","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":290,"y":400,"wires":[["82353938.c1bd48","a376ab50.3c51c8"]],"outputLabels":["offline"]},{"id":"82353938.c1bd48","type":"debug","z":"6c3fc330.f06efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":460,"wires":[]},{"id":"a376ab50.3c51c8","type":"change","z":"6c3fc330.f06efc","name":"offlineSet","rules":[{"t":"set","p":"payload","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":400,"wires":[["d3561157.ea6cc","a30ec771.0ca208"]]},{"id":"93e1cf29.14fd7","type":"ui_button","z":"ba7f9cbc.31905","name":"","group":"426e6257.3652ec","order":1,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":170,"y":120,"wires":[["b1a5db3c.e99cb8"]]},{"id":"d235d0a3.8b10c","type":"ui_button","z":"ba7f9cbc.31905","name":"","group":"426e6257.3652ec","order":2,"width":0,"height":0,"passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":120,"y":260,"wires":[["bbdfcfe7.557df"]]},{"id":"e274604d.b9811","type":"ui_button","z":"ba7f9cbc.31905","name":"","group":"426e6257.3652ec","order":3,"width":0,"height":0,"passthru":false,"label":"Resume","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":120,"y":400,"wires":[["d8d37a83.7c8198"]]},{"id":"dc32b8fe.e3f4c8","type":"ui_button","z":"ba7f9cbc.31905","name":"","group":"426e6257.3652ec","order":4,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":540,"wires":[["10b01ae8.688c45"]]},{"id":"c8357551.b9af18","type":"change","z":"6c3fc330.f06efc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Temperature","fromt":"str","to":"\"Temperature\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"device_id","fromt":"str","to":"\"device_id\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":160,"wires":[["f69f6338.4f9a9"]]},{"id":"f69f6338.4f9a9","type":"json","z":"6c3fc330.f06efc","name":"","property":"payload","action":"","pretty":false,"x":470,"y":160,"wires":[["fa54cb8a.033048","f65cdb30.892868"]]},{"id":"fa54cb8a.033048","type":"function","z":"6c3fc330.f06efc","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"0e3d8e-2a80bd-caffd4-e45876-1c2b1a-24947\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":160,"wires":[["a078b8e0.c31818"]]},{"id":"97bdc306.978d5","type":"debug","z":"6c3fc330.f06efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":160,"wires":[]},{"id":"2ddcd08e.28349","type":"change","z":"6c3fc330.f06efc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Humidity","fromt":"str","to":"\"Humidity\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"device_id","fromt":"str","to":"\"device_id\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":600,"wires":[["20a7322.0ef07ce"]]},{"id":"20a7322.0ef07ce","type":"json","z":"6c3fc330.f06efc","name":"","property":"payload","action":"","pretty":false,"x":470,"y":600,"wires":[["297d9e0e.2cd6f2","c80f03d1.3a6a2","8ac8a028.aea9"]]},{"id":"297d9e0e.2cd6f2","type":"function","z":"6c3fc330.f06efc","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"0e3d8e-2a80bd-caffd4-e45876-1c2b1a-24947\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":600,"wires":[["d8e338c5.219dd8"]]},{"id":"f6cddefd.52b21","type":"debug","z":"6c3fc330.f06efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":600,"wires":[]},{"id":"f65cdb30.892868","type":"function","z":"6c3fc330.f06efc","name":"","func":"\nmsg.payload=msg.payload.Temperature;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":100,"wires":[["d3561157.ea6cc"]]},{"id":"8ac8a028.aea9","type":"function","z":"6c3fc330.f06efc","name":"","func":"\nmsg.payload=msg.payload.Humidity;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":540,"wires":[["a30ec771.0ca208"]]},{"id":"8bca888e.751508","type":"change","z":"6c3fc330.f06efc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Status","fromt":"str","to":"\"Status\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"device_id","fromt":"str","to":"\"device_id\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":340,"wires":[["16236eca.2c1321"]]},{"id":"16236eca.2c1321","type":"json","z":"6c3fc330.f06efc","name":"","property":"payload","action":"","pretty":false,"x":470,"y":340,"wires":[["46532073.b934e"]]},{"id":"46532073.b934e","type":"function","z":"6c3fc330.f06efc","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"0e3d8e-2a80bd-caffd4-e45876-1c2b1a-24947\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":340,"wires":[["d5ddddd5.1ad59"]]},{"id":"4834ecda.06c1b4","type":"inject","z":"b76e4917.b4fd78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"deviceID\":\"9999999\",\"category\":\"RFID_READER\"}","payloadType":"json","x":430,"y":320,"wires":[["16e22c7.867f7d4"]]},{"id":"b0507b6c.c4abc8","type":"mqtt in","z":"b76e4917.b4fd78","name":"","topic":"start/rfid","qos":"2","datatype":"auto","broker":"f44243f4.1c45f","x":80,"y":260,"wires":[["6d94ae1.4d7785","2732b016.7d896"]]},{"id":"138090aa.c3af3f","type":"http request","z":"b76e4917.b4fd78","name":"POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/lock","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":260,"wires":[["21826142.11c0ae"]]},{"id":"fdef24a5.6f8918","type":"debug","z":"2b88146b.d2a8dc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":260,"wires":[]},{"id":"e299bd00.8898f","type":"http request","z":"2b88146b.d2a8dc","name":"POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":400,"wires":[[]]},{"id":"bc8fcd48.3626f","type":"debug","z":"2b88146b.d2a8dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":280,"wires":[]},{"id":"55fdfc18.8148e4","type":"http request","z":"2b88146b.d2a8dc","name":"PUT","method":"PUT","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device/{{{payload.deviceID}}}","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":320,"wires":[[]]},{"id":"5390bd76.726054","type":"join","z":"2b88146b.d2a8dc","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":360,"wires":[["bc8fcd48.3626f","10dd85b4.b8a74a"]]},{"id":"379e19ed.22e6e6","type":"debug","z":"2b88146b.d2a8dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":440,"wires":[]},{"id":"3394d39d.9bebdc","type":"http request","z":"2b88146b.d2a8dc","name":"GET","method":"GET","ret":"txt","paytoqs":"query","url":"192.168.0.45/iot-web/src/laravel/public/api/device/{{{payload.deviceID}}}","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":400,"wires":[["379e19ed.22e6e6","5390bd76.726054"]]},{"id":"4f28ce96.f4e5","type":"json","z":"2b88146b.d2a8dc","name":"","property":"payload","action":"","pretty":false,"x":870,"y":320,"wires":[["55fdfc18.8148e4"]]},{"id":"8611edf5.d58b7","type":"json","z":"2b88146b.d2a8dc","name":"","property":"payload","action":"","pretty":false,"x":350,"y":320,"wires":[["5390bd76.726054"]]},{"id":"10dd85b4.b8a74a","type":"function","z":"2b88146b.d2a8dc","name":"","func":"if(msg.payload.includes(\"data\")){\n    msg.payload = msg.payload.split(\"\\n\")[0];\n    msg.headers = {}\n    msg.headers['Content-type'] = \"application/json\"\n    msg.headers['api-key'] = [\"6e3f9b-fd0dd7-3328a3-e51762-93a0d6-81951\"]\n    \n    return [msg, null];\n}else{\n    msg.payload = msg.payload.split(\"\\n\")[0];\n    \n    msg.headers = {}\n    msg.headers['Content-type'] = \"application/json\"\n    msg.headers['api-key'] = [\"6e3f9b-fd0dd7-3328a3-e51762-93a0d6-81951\"]\n    \n    return [null, msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":700,"y":360,"wires":[["4f28ce96.f4e5"],["a6ca9660.669fe8"]]},{"id":"a6ca9660.669fe8","type":"json","z":"2b88146b.d2a8dc","name":"","property":"payload","action":"","pretty":false,"x":870,"y":400,"wires":[["e299bd00.8898f"]]},{"id":"61cd161.11164e8","type":"function","z":"2b88146b.d2a8dc","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"6e3f9b-fd0dd7-3328a3-e51762-93a0d6-81951\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":360,"wires":[["fdef24a5.6f8918","3394d39d.9bebdc","8611edf5.d58b7"]]},{"id":"e959ce78.4b99c","type":"debug","z":"a4d6994b.fadbc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":120,"wires":[]},{"id":"f8f21b6b.01e328","type":"http request","z":"a4d6994b.fadbc8","name":"POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":260,"wires":[[]]},{"id":"cd1cf3b9.a13f9","type":"debug","z":"a4d6994b.fadbc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":140,"wires":[]},{"id":"829c2d6f.6322c","type":"http request","z":"a4d6994b.fadbc8","name":"PUT","method":"PUT","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device/{{{payload.deviceID}}}","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":180,"wires":[[]]},{"id":"74564078.391c4","type":"join","z":"a4d6994b.fadbc8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":220,"wires":[["cd1cf3b9.a13f9","6c76ab62.070344"]]},{"id":"f70f6003.93dd6","type":"debug","z":"a4d6994b.fadbc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":300,"wires":[]},{"id":"4a4dfb92.dee6e4","type":"http request","z":"a4d6994b.fadbc8","name":"GET","method":"GET","ret":"txt","paytoqs":"query","url":"192.168.0.45/iot-web/src/laravel/public/api/device/{{{payload.deviceID}}}","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":260,"wires":[["f70f6003.93dd6","74564078.391c4"]]},{"id":"d5df1ed1.65d8c","type":"json","z":"a4d6994b.fadbc8","name":"","property":"payload","action":"","pretty":false,"x":810,"y":180,"wires":[["829c2d6f.6322c"]]},{"id":"910672d.fc8ab9","type":"json","z":"a4d6994b.fadbc8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":180,"wires":[["74564078.391c4"]]},{"id":"6c76ab62.070344","type":"function","z":"a4d6994b.fadbc8","name":"","func":"if(msg.payload.includes(\"data\")){\n    msg.payload = msg.payload.split(\"\\n\")[0];\n    msg.headers = {}\n    msg.headers['Content-type'] = \"application/json\"\n    msg.headers['api-key'] = [\"6e3f9b-fd0dd7-3328a3-e51762-93a0d6-81951\"]\n    \n    return [msg, null];\n}else{\n    msg.payload = msg.payload.split(\"\\n\")[0];\n    \n    msg.headers = {}\n    msg.headers['Content-type'] = \"application/json\"\n    msg.headers['api-key'] = [\"6e3f9b-fd0dd7-3328a3-e51762-93a0d6-81951\"]\n    \n    return [null, msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":220,"wires":[["d5df1ed1.65d8c"],["96a723e7.ed12e"]]},{"id":"96a723e7.ed12e","type":"json","z":"a4d6994b.fadbc8","name":"","property":"payload","action":"","pretty":false,"x":810,"y":260,"wires":[["f8f21b6b.01e328"]]},{"id":"a88f42a5.14df9","type":"function","z":"a4d6994b.fadbc8","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"6e3f9b-fd0dd7-3328a3-e51762-93a0d6-81951\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":220,"wires":[["e959ce78.4b99c","4a4dfb92.dee6e4","910672d.fc8ab9"]]},{"id":"84d0e353.58b5b","type":"json","z":"b76e4917.b4fd78","name":"","property":"payload","action":"","pretty":false,"x":430,"y":260,"wires":[["16e22c7.867f7d4"]]},{"id":"21826142.11c0ae","type":"debug","z":"b76e4917.b4fd78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"837858b6.b225e8","type":"http request","z":"b76e4917.b4fd78","name":"POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/access-control","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":100,"wires":[["4ce1ec28.5f17d4","be58bf23.eef"]]},{"id":"8a0e1f70.1f9af","type":"inject","z":"b76e4917.b4fd78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"worker_rfid\":\"6394986940695760\",\"device_id\":\"11762627\"}","payloadType":"json","x":430,"y":160,"wires":[["7262c587.a71e5c"]]},{"id":"6d94ae1.4d7785","type":"debug","z":"b76e4917.b4fd78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":200,"wires":[]},{"id":"2732b016.7d896","type":"change","z":"b76e4917.b4fd78","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"device_id","fromt":"str","to":"\"device_id\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"category","fromt":"str","to":"\"category\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":260,"wires":[["84d0e353.58b5b"]]},{"id":"16e22c7.867f7d4","type":"function","z":"b76e4917.b4fd78","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"6e3f9b-fd0dd7-3328a3-e51762-93a0d6-81951\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":260,"wires":[["138090aa.c3af3f"]]},{"id":"be58bf23.eef","type":"debug","z":"b76e4917.b4fd78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":160,"wires":[]},{"id":"2b7ca02c.62b88","type":"mqtt in","z":"d09f2f58.b41b4","name":"outdoor temp","topic":"sensor/temperatureout","qos":"2","datatype":"auto","broker":"f44243f4.1c45f","x":90,"y":140,"wires":[["3457f1c5.92854e","b0b47ed3.6533b"]]},{"id":"71770097.1477c","type":"mqtt in","z":"d09f2f58.b41b4","name":"outdor hum","topic":"sensor/humidityout","qos":"2","datatype":"auto","broker":"f44243f4.1c45f","x":90,"y":540,"wires":[["2f4a577f.7e14f8"]]},{"id":"e9dd6967.c3ec18","type":"mqtt in","z":"d09f2f58.b41b4","name":"status/02","topic":"status/device02","qos":"0","datatype":"auto","broker":"f44243f4.1c45f","x":80,"y":300,"wires":[["aa0e9f32.ae184","dc22fb59.cb1e78","b6c5ed66.01a4c"]]},{"id":"dafffc84.d0b23","type":"change","z":"d09f2f58.b41b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":360,"wires":[["dc32ca09.74fa18","6de09203.5e40bc"]]},{"id":"aa0e9f32.ae184","type":"debug","z":"d09f2f58.b41b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":240,"wires":[]},{"id":"dc22fb59.cb1e78","type":"trigger","z":"d09f2f58.b41b4","name":"","op1":"","op2":"offline","op1type":"nul","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":290,"y":360,"wires":[["d83b215c.56c1","dafffc84.d0b23"]],"outputLabels":["offline"]},{"id":"d83b215c.56c1","type":"debug","z":"d09f2f58.b41b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":400,"wires":[]},{"id":"b6c5ed66.01a4c","type":"change","z":"d09f2f58.b41b4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Status","fromt":"str","to":"\"Status\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"device_id","fromt":"str","to":"\"device_id\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":300,"wires":[["c051975d.9e86c8"]]},{"id":"c051975d.9e86c8","type":"json","z":"d09f2f58.b41b4","name":"","property":"payload","action":"","pretty":false,"x":470,"y":300,"wires":[["98394e2d.320f2"]]},{"id":"98394e2d.320f2","type":"function","z":"d09f2f58.b41b4","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"0e3d8e-2a80bd-caffd4-e45876-1c2b1a-24947\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":300,"wires":[["cd7e35eb.425858"]]},{"id":"3457f1c5.92854e","type":"change","z":"d09f2f58.b41b4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Temperature_out","fromt":"str","to":"\"Temperature_out\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"device_id","fromt":"str","to":"\"device_id\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["5893a9ea.a1ecc8"]]},{"id":"5893a9ea.a1ecc8","type":"json","z":"d09f2f58.b41b4","name":"","property":"payload","action":"","pretty":false,"x":470,"y":140,"wires":[["b44ba3b1.6b503","6a5ab789.d36dd8","fa46074a.100bb8"]]},{"id":"b44ba3b1.6b503","type":"function","z":"d09f2f58.b41b4","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"0e3d8e-2a80bd-caffd4-e45876-1c2b1a-24947\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":140,"wires":[["73e81373.2bebbc"]]},{"id":"548203d6.bd76cc","type":"debug","z":"d09f2f58.b41b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":140,"wires":[]},{"id":"fa46074a.100bb8","type":"debug","z":"d09f2f58.b41b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Temperature_out","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":200,"wires":[]},{"id":"6a5ab789.d36dd8","type":"function","z":"d09f2f58.b41b4","name":"","func":"\nmsg.payload=msg.payload.Temperature_out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":80,"wires":[["6de09203.5e40bc"]]},{"id":"2f4a577f.7e14f8","type":"change","z":"d09f2f58.b41b4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Humidity_out","fromt":"str","to":"\"Humidity_out\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"device_id","fromt":"str","to":"\"device_id\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":540,"wires":[["7cfb9e74.59bc6"]]},{"id":"7cfb9e74.59bc6","type":"json","z":"d09f2f58.b41b4","name":"","property":"payload","action":"","pretty":false,"x":470,"y":540,"wires":[["50385207.c32d3c","682e4ec9.dd387","b110a883.0ae968"]]},{"id":"50385207.c32d3c","type":"function","z":"d09f2f58.b41b4","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"0e3d8e-2a80bd-caffd4-e45876-1c2b1a-24947\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":540,"wires":[["bd3eb775.776648"]]},{"id":"bd9c5341.2d467","type":"debug","z":"d09f2f58.b41b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":540,"wires":[]},{"id":"b110a883.0ae968","type":"debug","z":"d09f2f58.b41b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Humidity_out","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":580,"wires":[]},{"id":"682e4ec9.dd387","type":"function","z":"d09f2f58.b41b4","name":"","func":"\nmsg.payload=msg.payload.Humidity_out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":480,"wires":[["dc32ca09.74fa18"]]},{"id":"b0b47ed3.6533b","type":"debug","z":"d09f2f58.b41b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"dc32ca09.74fa18","type":"ui_text","z":"d09f2f58.b41b4","group":"aaa4801a.42717","order":1,"width":0,"height":0,"name":"","label":"Hum","format":"{{msg.payload}} %","layout":"col-center","x":1130,"y":480,"wires":[]},{"id":"6de09203.5e40bc","type":"ui_text","z":"d09f2f58.b41b4","group":"aaa4801a.42717","order":0,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload}} °C","layout":"col-center","x":1130,"y":80,"wires":[]},{"id":"70b3381.c5e60c8","type":"inject","z":"d09f2f58.b41b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"deviceID\":\"9999999\",\"category\":\"RFID_READER\"}","payloadType":"json","x":470,"y":720,"wires":[["3bc0ae56.e3e7d2"]]},{"id":"8f8bb2a.76dfb5","type":"mqtt in","z":"d09f2f58.b41b4","name":"","topic":"start/temp_out","qos":"2","datatype":"auto","broker":"f44243f4.1c45f","x":90,"y":660,"wires":[["23ba1ba1.aff914","337569db.4bd3b6"]]},{"id":"11b5d83d.7af8f8","type":"http request","z":"d09f2f58.b41b4","name":"POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":660,"wires":[["fdf0b9c4.cee778"]]},{"id":"e23022f.ceb82e","type":"json","z":"d09f2f58.b41b4","name":"","property":"payload","action":"","pretty":false,"x":470,"y":660,"wires":[["3bc0ae56.e3e7d2"]]},{"id":"fdf0b9c4.cee778","type":"debug","z":"d09f2f58.b41b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":660,"wires":[]},{"id":"23ba1ba1.aff914","type":"debug","z":"d09f2f58.b41b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":620,"wires":[]},{"id":"337569db.4bd3b6","type":"change","z":"d09f2f58.b41b4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"device_id","fromt":"str","to":"\"device_id\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"category","fromt":"str","to":"\"category\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":660,"wires":[["e23022f.ceb82e"]]},{"id":"3bc0ae56.e3e7d2","type":"function","z":"d09f2f58.b41b4","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"6e3f9b-fd0dd7-3328a3-e51762-93a0d6-81951\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":660,"wires":[["11b5d83d.7af8f8"]]},{"id":"decfcb01.d66568","type":"inject","z":"6c3fc330.f06efc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device_id\":\"0762627\",\"category\":\"Temperature\"}","payloadType":"json","x":470,"y":780,"wires":[["1c81df9f.b0cba"]]},{"id":"c94aeee4.d8061","type":"mqtt in","z":"6c3fc330.f06efc","name":"","topic":"start/temp_in","qos":"2","datatype":"auto","broker":"f44243f4.1c45f","x":110,"y":720,"wires":[["9a9d7454.5430a8","497a64f0.92ba0c"]]},{"id":"44e484a7.7e70dc","type":"http request","z":"6c3fc330.f06efc","name":"POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":720,"wires":[["a40915ef.79c658"]]},{"id":"17635f36.838401","type":"json","z":"6c3fc330.f06efc","name":"","property":"payload","action":"","pretty":false,"x":470,"y":720,"wires":[["1c81df9f.b0cba"]]},{"id":"a40915ef.79c658","type":"debug","z":"6c3fc330.f06efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":720,"wires":[]},{"id":"9a9d7454.5430a8","type":"debug","z":"6c3fc330.f06efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":660,"wires":[]},{"id":"497a64f0.92ba0c","type":"change","z":"6c3fc330.f06efc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"device_id","fromt":"str","to":"\"device_id\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"category","fromt":"str","to":"\"category\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":720,"wires":[["17635f36.838401"]]},{"id":"1c81df9f.b0cba","type":"function","z":"6c3fc330.f06efc","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"6e3f9b-fd0dd7-3328a3-e51762-93a0d6-81951\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":720,"wires":[["44e484a7.7e70dc"]]},{"id":"73e81373.2bebbc","type":"http request","z":"d09f2f58.b41b4","name":"PUT","method":"PUT","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device/{{{payload.device_id}}}","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":140,"wires":[["548203d6.bd76cc"]]},{"id":"bd3eb775.776648","type":"http request","z":"d09f2f58.b41b4","name":"PUT","method":"PUT","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device/{{{payload.device_id}}}","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":540,"wires":[["bd9c5341.2d467"]]},{"id":"fdf7236d.9226a","type":"inject","z":"6c3fc330.f06efc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device_id\":\"0762627\",\"temperature\":\"27.3\"}","payloadType":"json","x":470,"y":220,"wires":[["fa54cb8a.033048"]]},{"id":"a078b8e0.c31818","type":"http request","z":"6c3fc330.f06efc","name":"PUT","method":"PUT","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device/{{{payload.device_id}}}","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":160,"wires":[["97bdc306.978d5"]]},{"id":"d8e338c5.219dd8","type":"http request","z":"6c3fc330.f06efc","name":"PUT","method":"PUT","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":600,"wires":[["f6cddefd.52b21"]]},{"id":"cd7e35eb.425858","type":"http request","z":"d09f2f58.b41b4","name":"PUT","method":"PUT","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device/{{{payload.device_id}}}/keep-alive","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":300,"wires":[["579140b1.2be89"]]},{"id":"579140b1.2be89","type":"debug","z":"d09f2f58.b41b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":300,"wires":[]},{"id":"d5ddddd5.1ad59","type":"http request","z":"6c3fc330.f06efc","name":"PUT","method":"PUT","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device/{{{payload.device_id}}}/keep-alive","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":340,"wires":[["77a01719.3af068"]]},{"id":"77a01719.3af068","type":"debug","z":"6c3fc330.f06efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":340,"wires":[]},{"id":"964aefbd.81c57","type":"inject","z":"96013ece.3e5fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"deviceID\":\"9999999\",\"category\":\"RFID_READER\"}","payloadType":"json","x":490,"y":580,"wires":[["b1daed63.cc91c"]]},{"id":"79ec240.72a13dc","type":"mqtt in","z":"96013ece.3e5fb","name":"","topic":"start/fan","qos":"2","datatype":"auto","broker":"f44243f4.1c45f","x":90,"y":520,"wires":[["c981a633.c390b8","c9e47d0b.8c193"]]},{"id":"28ff4f73.2d54e","type":"http request","z":"96013ece.3e5fb","name":"POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":520,"wires":[["85cf03f1.ea9eb"]]},{"id":"558844f6.7e33bc","type":"json","z":"96013ece.3e5fb","name":"","property":"payload","action":"","pretty":false,"x":490,"y":520,"wires":[["b1daed63.cc91c"]]},{"id":"85cf03f1.ea9eb","type":"debug","z":"96013ece.3e5fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":520,"wires":[]},{"id":"c981a633.c390b8","type":"debug","z":"96013ece.3e5fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":480,"wires":[]},{"id":"c9e47d0b.8c193","type":"change","z":"96013ece.3e5fb","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"device_id","fromt":"str","to":"\"device_id\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"category","fromt":"str","to":"\"category\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":520,"wires":[["558844f6.7e33bc"]]},{"id":"b1daed63.cc91c","type":"function","z":"96013ece.3e5fb","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"6e3f9b-fd0dd7-3328a3-e51762-93a0d6-81951\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":520,"wires":[["28ff4f73.2d54e","e3b7d5a5.f3a658"]]},{"id":"f1da228e.4abca","type":"change","z":"96013ece.3e5fb","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Status","fromt":"str","to":"\"Status\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"device_id","fromt":"str","to":"\"device_id\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":260,"wires":[["52ab41.14a9b4c"]]},{"id":"52ab41.14a9b4c","type":"json","z":"96013ece.3e5fb","name":"","property":"payload","action":"","pretty":false,"x":490,"y":260,"wires":[["b0161ee8.ddabc"]]},{"id":"b0161ee8.ddabc","type":"function","z":"96013ece.3e5fb","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"0e3d8e-2a80bd-caffd4-e45876-1c2b1a-24947\"]\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":260,"wires":[["b6874e15.dcd69"]]},{"id":"b6874e15.dcd69","type":"http request","z":"96013ece.3e5fb","name":"PUT","method":"PUT","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device/{{{payload.device_id}}}/keep-alive","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":260,"wires":[["22fa3cac.45ef44"]]},{"id":"22fa3cac.45ef44","type":"debug","z":"96013ece.3e5fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":260,"wires":[]},{"id":"96b7a561.024538","type":"inject","z":"86cf83a1.64598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":140,"y":200,"wires":[["bb837fe6.35f45"]]},{"id":"d4d5a5a3.4d0108","type":"http request","z":"86cf83a1.64598","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/lock/DECVIhuqSfTUVRB3","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":200,"wires":[["65dacee2.5409a","f0f9894b.3765b8"]]},{"id":"bb837fe6.35f45","type":"function","z":"86cf83a1.64598","name":"","func":"msg.headers = {}\nmsg.headers['Content-type'] = \"application/json\"\nmsg.headers['api-key'] = [\"6e3f9b-fd0dd7-3328a3-e51762-93a0d6-81951\"]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":200,"wires":[["d4d5a5a3.4d0108"]]},{"id":"3cd46d17.a3d9f2","type":"debug","z":"86cf83a1.64598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.status","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":200,"wires":[]},{"id":"65dacee2.5409a","type":"debug","z":"86cf83a1.64598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":100,"wires":[]},{"id":"f0f9894b.3765b8","type":"json","z":"86cf83a1.64598","name":"","property":"payload","action":"","pretty":false,"x":710,"y":200,"wires":[["3cd46d17.a3d9f2","36bca229.c1b08e"]]},{"id":"36bca229.c1b08e","type":"ui_text","z":"86cf83a1.64598","group":"e229380e.b36a18","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":260,"wires":[]},{"id":"e8a0a490.5ee5c8","type":"http request","z":"96013ece.3e5fb","name":"GET","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.0.45/iot-web/src/laravel/public/api/device/{{{payload.device_id}}}","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":600,"wires":[["4a28cf1c.aea2d","c54f4cee.69818"]]},{"id":"1a0da101.3d28df","type":"debug","z":"96013ece.3e5fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":360,"wires":[]},{"id":"e3b7d5a5.f3a658","type":"trigger","z":"96013ece.3e5fb","name":"Trigger","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"-1500","extend":false,"units":"ms","reset":"null","bytopic":"all","topic":"topic","outputs":1,"x":800,"y":600,"wires":[["e8a0a490.5ee5c8"]]},{"id":"c3447619.1f9ea8","type":"function","z":"96013ece.3e5fb","name":"","func":"msg.payload = msg.payload.data.fan_speed;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":600,"wires":[["514dcced.b3c224"]]},{"id":"4a28cf1c.aea2d","type":"json","z":"96013ece.3e5fb","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":600,"wires":[["c3447619.1f9ea8"]]},{"id":"9d52061d.c65fb8","type":"function","z":"96013ece.3e5fb","name":"","func":"var speed = {\n    \"fan_speed\": msg.payload.data.fan_speed \n};\n\n\nreturn speed;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":160,"wires":[[]]},{"id":"c54f4cee.69818","type":"debug","z":"96013ece.3e5fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":660,"wires":[]}]